<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>LHH MPCs</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <%- include("../partials/jumbotron.ejs"); %>
           
            <div class="row">
                
                <!-- Candidate 14-->
                <%- include("../partials/cards/wordpressDev"); %>

                <!-- Candidate 13-->
                <%- include("../partials/cards/xamarinDev"); %>

                <!-- Candidate 12 -->
                <%- include("../partials/cards/AWSDevOps"); %>

                <!-- Candidate 11 -->
                <%- include("../partials/cards/netdev"); %>

                <!-- Candidate 10 -->
                <%- include("../partials/cards/frontendDev"); %>

                <!-- Candidate 9-->
                <%- include("../partials/cards/backendDev"); %>

                <!-- Candidate 8 -->
                <%- include("../partials/cards/dataAnalyst"); %>

                <!-- Candidate 7 -->
                <%- include("../partials/cards/directorOfIT"); %>

                <!-- Candidate 6 -->
                <%- include("../partials/cards/VPofDevelopment"); %>

                <!-- Candidate 5 -->
                <%- include("../partials/cards/ITManager"); %>

                <!-- Candidate 4 -->
                <%- include("../partials/cards/dataEngineer"); %>

                <!-- Candidate 3 -->
                <%- include("../partials/cards/QAEngineer"); %>

                <!-- Candidate 2 -->
                <%- include("../partials/cards/dataScientist"); %>

                <!-- Candidate 1 -->
                <%- include("../partials/cards/pythonDev"); %>


            </div>

            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>