<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="row">
                
                <!-- Candidate 1 -->
                <%- include("../partials/cards/AWSDevOps"); %>

                <!-- Candidate 2 -->
                <%- include("../partials/cards/netdev"); %>

                <!-- Candidate 3 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Frontend Developer</h5>
                        <hr />
                        <p class="card-text">
                            Seven years in Software Development, designing and developing frontend systems using React and 
                            Vue.
                        </p>
                        <div class="test">
                            <a class="btn-center btn btn-primary" href="frontend.html">Read More</a>
                        </div>
                        
                    </div>
                </div>

                <!-- Candidate 4-->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Backend Developer</h5>
                        <hr />
                        <p class="card-text">
                            Four years of professional software development experience with various technologies.
                        </p>
                        <div class="test">
                            <a class="btn-center btn btn-primary" href="backend.html">Read More</a>
                        </div>
                        
                    </div>
                </div>

                <!-- Candidate 5 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Data Analyst</h5>
                        <hr />
                        <p class="card-text">
                            Over six years of experience in various analytical roles such as Quality Analyst and 
                            Business Intelligence Analyst.
                        </p>
                        <a class="btn-center btn btn-primary" href="dataAnalyst.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 6 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Director of Information Technology</h5>
                        <hr />
                        <p class="card-text">
                            Experienced Technology Director with hands-on experince in system engineering and production 
                            support.
                        </p>
                        <a class="btn-center btn btn-primary" href="directorOfIT.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 7 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Vice President of Development</h5>
                        <hr />
                        <p class="card-text">
                            Over 25 years of profession experience offering a vast and diversified experience in the 
                            construction business having worked on a variety of projects that spans from residential 
                            projects such as custom homes, residential condos, and affordable houses to massive 
                            Infrastructure projects such as airports and nuclear power plants in some parts of the 
                            world as a Field Civil Engineer.
                        </p>
                        <a class="btn-center btn btn-primary" href="VPofDevelopment.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 8 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Information Technology Manager</h5>
                        <hr />
                        <p class="card-text">
                            An effective, organized team leader with over 20 years of experience in the area of IT Operations 
                            Support in engineer, lead, and management roles.
                        </p>
                        <a class="btn-center btn btn-primary" href="ITManager.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 9 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Data Architect</h5>
                        <hr />
                        <p class="card-text">
                            IT leader with over 15 years of repeated success in driving development and implmentation 
                            of innovative technology, data analytics, and business intelligence solutions to improve 
                            operations, quality control, and overall productivity across the enterprise.
                        </p>
                        <a class="btn-center btn btn-primary" href="DataArchitect.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 10 -->
                    <div class="card col-sm-12 col-lg-3">
                        <div class="card-body">
                        <h5 class="card-title">QA Engineer</h5>
                        <hr />
                        <p class="card-text">
                            Professional with fifteen years of experience and the desire, drive, and knowledge
                            to lead a team to success. Possesses the skill set to inspect, test, diagnose, 
                            troubleshoot, and repair malfunctions for complete mechancial systems.
                        </p>
                        <a class="btn-center btn btn-primary" href="QAEngineer.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 11 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Data Scientist</h5>
                        <hr />
                        <p class="card-text">
                            Biotech/clinical health professional with over 20 years of experience searching 
                            for new opportunities in data science.
                        </p>
                        <a class="btn-center btn btn-primary" href="DataScientist.html">Read More</a>
                    </div>
                </div> 

                <!-- Candidate 12 -->
                <div class="card col-sm-12 col-lg-3">
                    <div class="card-body">
                        <h5 class="card-title">Python Developer</h5>
                        <hr />
                        <p class="card-text">
                            Over five years of combined work experience in Analysis, Design, Web Application 
                            Development, Management and Implementation of various stand alone, client-server 
                            enterprise applications.
                        </p>
                        <a class="btn-center btn btn-primary" href="pythonDeveloper.html">Read More</a>
                    </div>
                </div> 

                <!-- TO-DO ADD CANDIDATES 
                Data Engineer
                Full Stack Developer
                Mobile Developer
                CMO - 24193849
                Operations Manager - 25217038
                CyberSecurity - 25195837
                Python Developer - 25356357
                PHP Developer
                Java Developer
                Cloud Technician - 25336569
                -->

            </div>

            <p class="ender">
                Please let me know if you would like to discuss working with any of my candidates or 
                if you are looking for a different skill set. My pipeline of candidates has diverse 
                skill sets that can match most companies' needs.
            </p>
            <ul class="ender contact">
                <li>
                    <h5>Contact Information</h5>
                </li>
                <li>Phone Number: (321) 361-3823</li>
                <li>E-mail: <a href="mailto:Daniel.Wernz@LHH.com">Daniel.Wernz@LHH.com</a></li>
            </ul>
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>