<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>LHH MPCs</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>

            <%- include("../partials/jumbotron.ejs"); %>

            <div class="row">
                
                <!-- Candidate 14-->
                <%- include("../partials/cards/wordPressDev"); %>

                <!-- Candidate 13-->
                <%- include("../partials/cards/xamarinDev"); %>

                <!-- Candidate 12 -->
                <%- include("../partials/cards/AWSDevOps"); %>

                <!-- Candidate 11 -->
                <%- include("../partials/cards/netdev"); %>

                <!-- Candidate 10 -->
                <%- include("../partials/cards/frontendDev"); %>

                <!-- Candidate 9-->
                <%- include("../partials/cards/backendDev"); %>

                <!-- Candidate 8 -->
                <%- include("../partials/cards/dataAnalyst"); %>

                <!-- Candidate 7 -->
                <%- include("../partials/cards/directorOfIT"); %>

                <!-- Candidate 6 -->
                <%- include("../partials/cards/VPofDevelopment"); %>

                <!-- Candidate 5 -->
                <%- include("../partials/cards/ITManager"); %>

                <!-- Candidate 4 -->
                <%- include("../partials/cards/dataEngineer"); %>

                <!-- Candidate 3 -->
                <%- include("../partials/cards/QAEngineer"); %>

                <!-- Candidate 2 -->
                <%- include("../partials/cards/dataScientist"); %>

                <!-- Candidate 1 -->
                <%- include("../partials/cards/pythonDev"); %>


            </div>

            <p class="ender">
                Please let me know if you would like to discuss working with any of my candidates or 
                if you are looking for a different skill set. My pipeline of candidates has diverse 
                skill sets that can match most companies' needs.
            </p>
            <ul class="ender contact">
                <li>
                    <h5>Contact Information</h5>
                </li>
                <li>Phone Number: (321) 361-3823</li>
                <li>E-mail: <a href="mailto:Daniel.Wernz@LHH.com">Daniel.Wernz@LHH.com</a></li>
            </ul>
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>