<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>LHH MPCs</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <%- include("../partials/jumbotron.ejs"); %>
           
            <div class="row">
                
                <!-- Candidate 14-->
                <%- include("../partials/cards/wordPressDev"); %>

                


            </div>

            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>